<footer id="cp_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="quickLinks"><a [routerLink]="['/terms-of-use']">Terms of Use</a>&nbsp;|&nbsp;
          <a [routerLink]="['/privacy-policy']">Privacy Policy</a>&nbsp;|&nbsp;
          <a [routerLink]="['/disclaimer']">Disclaimer</a></div>
      </div>
      <div class="col-md-4 text-center"><a class="facebook hasTooltip" href="https://www.facebook.com/careerspad"
          style="color: #fff;" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a
          class="linkedin hasTooltip" href="https://www.linkedin.com/company/careerspad/" style="color: #fff;"
          target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a
          href="mailto:support@careerspad.org" style="color: #fff;"><i class="fa fa-envelope"></i></a>
      </div>
      <div class="col-md-4">
        <p class="copyright"><small class="block">© Copyright © All rights reserved |
            Careerspad </small><br></p>
      </div>
    </div>
  </div>
</footer>