<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li aria-current="page" class="breadcrumb-item active">Mentor Application Request</li>
  </ol>
</nav>
<section [style.minHeight]="wrapperHeight+'px'">
  <div class="container">
    <div class="cp_page_content">
      <h3 class="text-center">Mentor Application Request</h3>
      <p class="text-center">Your OTP has been verified successfully. Thank you for your application, our team will review the request & process shortly!</p>
    </div>
  </div>
</section>