<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li aria-current="page" class="breadcrumb-item active">About</li>
    </ol>
</nav>
<section [style.minHeight]="wrapperHeight+'px'">
    <div class="container">
        <div class="cp_page_content">
            <h2 class="text-center">WHO WE ARE</h2>
            <p class="text-center">Careerspad, a not-for-profit organization, has been created as a
                launchpad for fortification of a mentor – mentee relationship and act as a lighthouse to the talented
                students and young professionals aspiring to become tomorrow’s leaders. </p>
            <p class="text-center">Mentorships are important to society because everyone benefits from
                role models. In this way, mentors support mentees, cheer them on and help them strive to become as
                successful global corporate citizens.</p>
            <p class="text-center">CareersPad mentors are volunteer industry leaders and subject
                matter experts who have passion to help others, see them successful and committed to give back to
                society by way of sharing experiential learning. </p><br>
            <h2 class="text-center">WHAT WE DO</h2>
            <p class="text-center">CareersPad platform uses world class technology solutions using
                artificial intelligence to predict the best resources and solutions to career related queries as per
                mentees' career interests and aspirations as they move up in the value chain of different career level
                stages. Its smart algorithms provides access to specific mentors, curated content, career development
                programs and high impact career resources on the basis of evolving needs, progression and changing
                behavior of mentees.</p>
            <p class="text-center">Our mentors provide professional guidance, resolve career problems,
                give career advice and co-own mentees' goals. Mentors provide career mentoring to the meritorious
                students from remote colleges who do not have adequate industry interface and enable such students to
                make the right career choice by coaching them to effectively transition from campus to corporate life.
            </p>
            <p class="text-center">Our mentors also provide 1:1 mentoring to working professionals who
                are looking for professional guidance to enhance their career and/or have any workplace problem to solve
                for.</p>
        </div>
    </div>
</section>