<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li aria-current="page" class="breadcrumb-item active">Programs</li>
    </ol>
</nav>
<section *ngIf="!isPageLoading">
    <div class="container">
        <div class="cp_page_content">
            <h2 class="text-center">Programs</h2><img alt="Programs" class="cp_page_banner"
                src="./assets/images/banner4.jpg">
            <p class="text-center">Attend career development workshops, learning events, counselling
                sessions and training programs.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <app-page-side-bar [list]="specArr" [heading]="'Program By Speciality'" [click]="'/programs'">
                </app-page-side-bar>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div *ngFor="let program of progArr.data" class="col-md-6">
                        <app-program-tile [program]="program"></app-program-tile>
                    </div>
                </div>
                <div class="text-center">
                    <button *ngIf="progArr.total>6 && progArr.total>progArr.data.length" type="button"
                        class="loadMoreBtn" [disabled]="isLoadingMore" (click)="loadMore(progArr.count)">Load
                        More</button>
                </div>
            </div>
        </div>
    </div>
</section>