<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li aria-current="page" class="breadcrumb-item active">Privacy Policy</li>
  </ol>
</nav>
<section>
  <div class="container">
    <div class="cp_page_content">
      <h3 class="text-center">Privacy Policy</h3>
      <p class="text-center">CareersPad respects the privacy of its users. We do not sell, or
        otherwise share your personally identifiable information with any third parties, except as may be necessary to
        provide the services which you have requested for, or for promoting a safe and improved experience on the
        Website, in accordance with this policy. This Privacy Policy explains how we collect, use, save, store, destroy,
        and disclose information in connection with our Services and with our Website. By accessing our Website and/or
        using our Services, you agree to the provisions of this Privacy Policy and to our Terms.</p>
      <p class="text-center">Please note that except as otherwise described below, this Privacy Policy
        does not apply to the processing of any information by third parties. For example, when users seek to apply for
        training programs by our service providers, the Services may redirect the user to a 3rd party page. Information
        collected through such a third-party site is not subject to this Privacy Policy, but is instead subject to the
        service provider's privacy policy.</p>
      <p class="text-center">Please note that CareersPad.org does not capture or store your Payment
        Card/bank details. When you buy a service using your card, all required transaction details are captured on the
        payment gateway’s secure payment page and are securely transmitted to your bank necessary authentication and
        authorization. CareersPad maintains the highest standards for secure transactions and customer information
        privacy. Please read the following statement to learn about our information gathering and dissemination
        practices.</p>
      <p class="text-center"><b>Note:</b> Our privacy policy is subject to change at
        any time without notice. To make sure you are aware of any changes, please review this policy periodically.</p>
      <p class="text-center">By using this Website you agree to be bound by the terms and conditions
        of this Privacy Policy. If you do not agree please do not use or access our Website.</p>
      <p class="text-center">By using the Website, you expressly consent to our use and disclosure of
        your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and
        subject to the Terms of Use.</p>
      <h4 class="text-center">INFORMATION WE COLLECT</h4>
      <p class="text-center">We collect and store your personal information which is provided by you
        at the time of using / registering on our website. These may include but not limiting to User Name, Address,
        Phone Number, Email address, Username and password, Work and Qualification history, Company and job title or
        details, Photograph, Content posted by Members, services used, payment history etc.</p>
      <p class="text-center">It's important to understand that Users can browse our Website
        anonymously without revealing any personal information. We ask for your personal information only when you
        decide to become our member and use our services. Once you do that, you are not anonymous to us. The option to
        not provide information by choosing not to use a particular service or feature on the Website is always
        available with you. </p>
      <p class="text-center">Information provided by you would help us to do internal research on our
        users’ demographics, interests, and behavior to better understand, protect and serve our users. We also use data
        collection devices such as “cookies” on certain pages of the Website to help analyze our web page flow, measure
        promotional effectiveness, and promote trust and safety. </p>
      <p class="text-center">“Cookies” are small files placed on your hard drive that assists us in
        providing our services. We offer certain features that are only available through the use of a “cookie”. We also
        use cookies to allow you to enter your password less frequently during a session. Cookies can also help us
        provide information that is targeted to your interests. Most cookies are “session cookies,” meaning that they
        are automatically deleted from your hard drive at the end of a session. You are always free to decline our
        cookies if your browser permits, although in that case, you may not be able to use certain features on the
        Website and you may be required to re-enter your password more frequently during a session. The cookies do not
        contain any of your personally identifiable information. Sometimes when you use third party resources on our
        website or make an online purchase, you may find “cookies” on certain pages of the 3rd party Website. The user
        always has an option to disable cookies, we do not control the use of cookies by third parties. </p>
      <h4 class="text-center">USE OF INFORMATION</h4>
      <p class="text-center">We use personal information to provide our/3rd party services you
        request, market relevant products, other services, event announcements, online offers like discounts etc. </p>
      <h4 class="text-center">SHARING OF PERSONAL INFORMATION</h4>
      <p class="text-center">CareersPad may share your personal information with its group entities,
        3rd party service providers and affiliates for the purpose of marketing relevant products/services sought by you
        or you may be interested in.</p>
      <p class="text-center">We may use or share your information, including Personal Information,
        with third parties when we believe, in our sole discretion, that doing so is necessary for:-</p>
      <p class="text-center">To comply with applicable law or a court order, subpoena, request from
        government or law enforcement, or other legal process; To investigate, prevent, or take action regarding illegal
        activities, suspected fraud, violations of our terms and conditions, or situations involving threats to our
        property or the property or physical safety of any person or third party.</p>
      <h4 class="text-center">3rd PARTY WEBISTES</h4>
      <p class="text-center">We have many service providers on our platform and curated resources for
        our users. Clicking on those links and availing their services may take you to other websites that may collect
        personally identifiable information about you. CareersPad is not responsible for the privacy practices or the
        content of those linked websites.</p>
      <h4 class="text-center">SECURITY</h4>
      <p class="text-center">CareersPad uses physical, electronic, and procedural safeguards to
        protect your information against loss or unauthorized access, use, modification, or deletion. However, no
        security program is 100% secure, and thus we cannot guarantee the absolute security of your information. By
        using this website, you agree that CareersPad will have no liability for disclosure of your information due to
        errors in transmission or unauthorized acts of third parties.</p>
      <h4 class="text-center">USER ACCEPTANCE</h4>
      <p class="text-center">By using the Site and/ or by providing your Information you consent to
        the collection and use of the information you disclose on the Site by CareersPad in accordance with its Privacy
        Policy. You agree and acknowledge that you have read and fully understood the Privacy Policy and the terms and
        contents of such Privacy Policy as mentioned in the Website is acceptable to you.</p>
      <h4 class="text-center">CHANGES IN THE PRIVACY POLICY</h4>
      <p class="text-center">The Privacy policy may be changed by CareersPad from time to time and
        user/s is required to keep himself updated with the same at all times. By accessing the Website you are deemed
        to have acquainted yourself with the up to date Privacy Policy.</p>
      <h4 class="text-center">Complaints / Grievances / Feedback</h4>
      <p class="text-center"> Please contact / write to us on<br> CareersPad
        Foundation<br> Sec-50, Gurugram, INDIA<br> Email :
        compliances@careerspad.org </p>
    </div>
  </div>
</section>