#accordion{
    margin: 20px 0 40px;

    & .card-header{
        padding: 0;
        background: var(--blue-color);
        border-radius: 0;

        & h5{
            margin: 0;
            padding: 10px 15px;
            color: #fff;
            cursor: pointer;
            font-size: 18px;
        }
    }
}