.cp_login{
    & .recovery_icon{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 25px;
        & i.mobile{
            font-size: 64px;
    
        }
        & i.email{
            font-size: 50px;
    
        }
        & b{
            margin: 0 15px;
        }        
    }
    & .form_margin{
        margin: 20px 0 25px;
    }
    & a{
        color: var(--blue-color);
    }
}

