<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li aria-current="page" class="breadcrumb-item active">Terms of Use</li>
  </ol>
</nav>
<section [style.height]="wrapperHeight+'px'">
  <div class="container">
    <div class="cp_page_content">
      <h3 class="text-center">Terms of Use</h3>
      <p class="text-center">Please read the following terms and conditions very carefully as your use
        of service is subject to your acceptance of and compliance with the following terms and conditions (“Terms”). By
        subscribing to or using any of our services you agree that you have read, understood and are bound by the Terms,
        regardless of how you subscribe to or use the services. If you do not want to be bound by the Terms, you must
        not subscribe to or use our services. </p>
      <p class="text-center">CareersPad platform is an initiative of CareersPad Foundation, a
        not-for-profit organization, has been created as a launchpad for fortification of a mentor – mentee
        relationship. CareersPad platform uses world class technology solutions using artificial intelligence to predict
        the best resources and solutions to career related queries as per mentees' career interests and aspirations as
        they move up in the value chain of different career level stages. Its smart algorithms provides access to
        specific mentors, curated content, career development programs and high impact career resources on the basis of
        evolving needs, progression and changing behavior of mentees.</p>
      <p class="text-center">CareersPad platform strives to provide best possible career/professional
        advice, curated contents, assessments, access to experienced mentors and service providers and the genuine
        guidance to the user/s, however shall not be responsible in any manner for any direct/indirect loss incurred to
        the user/s due to such advice/guidance/assessments/trainings etc.</p>
      <p class="text-center">CareersPad platform is not responsible for any act/advice of the mentors
        / career counselors registered on the platform beyond the scope of the services rendered by it in any manner.
        The advice/guidance provided by CareersPad platform is best intended and and shall not be relied upon as the
        sole factor for the purposes of your decision making, career selection, changing jobs. Relocation etc as other
        relevant factors including but not limited to educational qualifications, experience, adaptability, skills, or
        other relevant factors play an important role for the said purpose/s.</p>
      <p class="text-center">CareersPad platform is not responsible for any liability for, claims,
        losses and damages of any kind, direct or indirect, arising out of use, reference to any
        blogs/resources/case-study provided by the Website. Careerspad does not provide any guarantee or warranty,
        including (but not limited to) qua non-infringement of third party rights, title, interest qua information
        provided by the website.</p>
      <p class="text-center">CareersPad shall not be responsible in any manner for any liability that
        may arise directly or indirectly due to use of information, content or the report, including (but not limited
        to) errors or omissions, the accuracy, completeness, reliability, or reasonableness of factual or scientific
        assumptions, studies, remarks, test results or conclusions contained in such information, content or report.</p>
    </div>
  </div>
</section>