.cp_speciality{
    box-shadow: 0 0 3px #ccc;
    margin: 20px 10px;

    & a.image {
        display: block;
        overflow: hidden;
        height: 220px;

        img{
            width: 100%;
        }
    }

    & .content{
        padding: 15px;
        height: 170px;

        & h4{
            margin: 0;
            padding: 0;
            font-size: 20px;
            font-weight: 600;

            & a{
                color: var(--black-color);
            }
        }
        & p{
            margin: 10px 0;
            padding: 0;
            color: var(--black-color);
            font-size: 14px;
        }
    }

    & .details{
        border-top: 1px solid #ccc;
        margin-top: 15px;
        padding: 10px 15px;

        & a{
            color: var(--blue-color);
        }

        & .read_more{
            padding-top: 5px;
        }


    }
}