<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li aria-current="page" class="breadcrumb-item active">Set New Password</li>
  </ol>
</nav>
<section [style.minHeight]="wrapperHeight+'px'">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 offset-md-3">
        <div class="cp_login">
          <h2>Set New Password</h2>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group"><input class="form-control" formControlName="password" placeholder="New Password"
                type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">New Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                <div *ngIf="f.password.errors.maxlength">Password must be 6-12 characters</div>
              </div>
            </div>
            <div class="form-group"><input class="form-control" formControlName="cnfPassword"
                placeholder="Confirm Password" type="password"
                [ngClass]="{ 'is-invalid': submitted && f.cnfPassword.errors }">
              <div *ngIf="submitted && f.cnfPassword.errors" class="invalid-feedback">
                <div *ngIf="f.cnfPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.cnfPassword.errors.mustMatch">Password Mismatch</div>
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="apiError" class="cp_error_msg">Try Again</div>
            </div>
            <div class="form-group"><button type="submit" class="btn btn-primary"
                [disabled]="isChangePasswordProcess">Submit<span
                  *ngIf="isChangePasswordProcess">...</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>